{# config.jsonで予め構築環境の設定を行いましょう！ #}
{# 環境特定 #}
{%- set ENVIRONMENT = 'local' -%} {# public | dev | local #}

{# wordpress流し込み用に共通パーツの表示を操作 #}
{%- set WPMODE = false -%}
{%- if WPMODE == true -%}
{%- set ENVIRONMENT = 'public' -%}
{%- endif -%}

{%- set IS_PUBLIC = true if ENVIRONMENT !== 'local' else false -%}
{%- set IS_WP = false -%}
{# 絶対パスモードの有効化 #}
{%- set ABSOLUTE_MODE = false -%}

{# サイトURL #}
{%- if ENVIRONMENT === 'local' -%}
{%- set SITE_URL = data.siteUrl.local -%}
{%- elseif ENVIRONMENT === 'dev' -%}
{%- set SITE_URL = data.siteUrl.dev -%}
{%- else -%}
{%- set SITE_URL = data.siteUrl.public -%}
{%- set IS_WP = true -%}
{%- endif -%}

{# 名前関係：ファイル #}
{%- set NAME_ASSETS = data.dirName.wpAssets if IS_WP else data.dirName.assets -%}
{%- set NAME_MEDIA = data.dirName.media -%}
{%- set NAME_CSS = data.dirName.css -%}
{%- set NAME_JS = data.dirName.js -%}
{%- set NAME_IMAGES = data.dirName.images -%}
{%- set NAME_SVG = data.dirName.svg -%}
{%- set NAME_FILE_STYLE = data.fileName.style if IS_PUBLIC else data.fileName.styleDev -%}
{%- set NAME_FILE_JS = data.fileName.js if IS_PUBLIC else data.fileName.jsDev -%}

{# パス：相対 #}
{%- if ENVIRONMENT === 'local' -%}
{%- set FV_ROOT = data.path.rootLocal -%}
{%- elseif ENVIRONMENT === 'dev' -%}
{%- set FV_ROOT = data.path.rootDev -%}
{%- else -%}
{%- set FV_ROOT = data.path.root -%}
{%- endif -%}
{%- set FV_ROOT_ASSETS = FV_ROOT + NAME_ASSETS + '/' -%}
{%- set FV_ROOT_MEDIA = FV_ROOT_ASSETS + NAME_MEDIA + '/' -%}
{%- set FV_ROOT_IMAGES = FV_ROOT_ASSETS + NAME_IMAGES + '/' -%}
{%- set FV_ROOT_CSS = FV_ROOT_ASSETS + NAME_CSS + '/' -%}
{%- set FV_ROOT_JS = FV_ROOT_ASSETS + NAME_JS + '/' -%}
{%- set FV_ROOT_SVG = FV_ROOT_ASSETS + NAME_SVG + '/' -%}

{# パス：絶対 #}
{%- set FV_ABSOLUTE_ROOT = SITE_URL + FV_ROOT -%}
{%- set FV_ABSOLUTE_ASSETS = SITE_URL + FV_ROOT_ASSETS -%}
{%- set FV_ABSOLUTE_MEDIA = SITE_URL + FV_ROOT_MEDIA -%}
{%- set FV_ABSOLUTE_IMAGES = SITE_URL + FV_ROOT_IMAGES -%}
{%- set FV_ABSOLUTE_CSS = SITE_URL + FV_ROOT_CSS -%}
{%- set FV_ABSOLUTE_JS = SITE_URL + FV_ROOT_JS -%}
{%- set FV_ABSOLUTE_SVG = SITE_URL + FV_ROOT_SVG -%}

{# 絶対パスモード #}
{%- if ABSOLUTE_MODE -%}
{%- set FV_ROOT = FV_ABSOLUTE_ROOT -%}
{%- set FV_ROOT_ASSETS = FV_ROOT + NAME_ASSETS + '/' -%}
{%- set FV_ROOT_MEDIA = FV_ROOT_ASSETS + NAME_MEDIA + '/' -%}
{%- set FV_ROOT_IMAGES = FV_ROOT_ASSETS + NAME_IMAGES + '/' -%}
{%- set FV_ROOT_CSS = FV_ROOT_ASSETS + NAME_CSS + '/' -%}
{%- set FV_ROOT_JS = FV_ROOT_ASSETS + NAME_JS + '/' -%}
{%- set FV_ROOT_SVG = FV_ROOT_ASSETS + NAME_SVG + '/' -%}
{%- endif -%}

{# ページ情報 #}
{%-
  set fvGet = {
    'sitename': data.sitename,
    'title': fvSet.title if fvSet.title + ' | ' + data.basename else 'ページタイトルを必ず設定してください',
    'description': '<meta name="description" content="' + fvSet.description + '">' if fvSet.description else '',
    'ogdescription': '<meta property="og:description" content="' + fvSet.description + '">' if fvSet.description else '',
    'canonical': '<link rel="canonical" href="' + (FV_ABSOLUTE_ROOT) + (fvSet.canonical) + '">' if fvSet.canonical !== false else '',
    'ogurl': '<link property="og:url" href="' + (FV_ABSOLUTE_ROOT) + (fvSet.ogurl) + '">' if fvSet.ogurl !== false else '',
    'ogurltwitter': '<link name="twitter:url" href="' + (FV_ABSOLUTE_ROOT) + '">' if fvSet.canonical else '',
    'ogtype': fvSet.ogtype if fvSet.ogtype else 'article',
    'ogimage': fvSet.ogimage if fvSet.ogimage else FV_ABSOLUTE_IMAGES + 'outside/og-image.jpg',
    'robots': fvSet.robots if fvSet.robots else '',
    'theme': fvSet.theme if fvSet.theme else 'home',
    'page': fvSet.page if fvSet.page else 'home',
    'heroMain': fvSet.heroMain if fvSet.heroMain else false,
    'heroSub': fvSet.heroSub if fvSet.heroSub else false,
    'heroParent': fvSet.heroParent if fvSet.heroParent else false,
    'heroBg': fvSet.heroBg if fvSet.heroBg else false,
    'root': FV_ROOT,
    'absolute': FV_ABSOLUTE_ROOT,
    'assets': FV_ROOT_ASSETS,
    'media': FV_ROOT_MEDIA,
    'images': FV_ROOT_IMAGES,
    'css': FV_ROOT_CSS,
    'js': FV_ROOT_JS,
    'googlemap': fvSet.googlemap,
    'subLayout': fvSet.subLayout,
    'subLayoutLarge': fvSet.subLayoutLarge if fvSet.subLayoutLarge else false,
    'single': fvSet.single,
    'timestamp': '' + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random + [1,2,3,4,5,6,7,8,9] | random
  }
-%}

{# カレントを表すためのマクロ #}
{% macro isCurrent(page = null) %}{{ '  is-current' if fvSet.page === page else '' }}{% endmacro %}
<!DOCTYPE html>
{%- set _isHome = '  home' if fvGet.page === 'home' else '' -%}
<html class="no-js{{ _isHome }}" lang="ja" prefix="og: http://ogp.me/ns#" data-root="{{fvGet.root}}" data-theme-dist="{{fvGet.assets}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>{{fvGet.title}}</title>
  {{-fvGet.canonical | safe-}}
  {{-fvGet.description | safe-}}
  <meta name="author" content="{{fvGet.sitename}}">
  {{-fvGet.ogurl | safe-}}
  <meta property="og:site_name" content="{{fvGet.sitename}}">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:type" content="{{fvGet.ogtype}}">
  <meta property="og:title" content="{{fvGet.title}}">
  <meta property="og:image" content="{{fvGet.ogimage}}">
  <meta property="og:image:secure_url" content="{{fvGet.ogimage}}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  {{-fvGet.ogdescription | safe-}}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{fvGet.title}}">
  {{-fvGet.ogurltwitter | safe-}}
  <meta name="twitter:image:src" content="{{fvGet.ogimage}}">
  <link rel="stylesheet" id="main-css" href="{{fvGet.css + NAME_FILE_STYLE}}?{{fvGet.timestamp}}" />
  <link rel="stylesheet" id="google-fonts-css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP%3Awght%40400%3B700&#038;display=swap&#038;ver=5.4.2" />
  <script type='text/javascript'>
    (function (d) {
      var config = {
        kitId: 'axt8dmu',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
  <link rel="icon" href="{{fvGet.images}}cropped-apple-touch-icon128-32x32.png" sizes="32x32" />
  <link rel="icon" href="{{fvGet.images}}cropped-apple-touch-icon128-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="{{fvGet.images}}cropped-apple-touch-icon128-180x180.png" />
  <meta name="msapplication-TileImage" content="{{fvGet.images}}cropped-apple-touch-icon128-270x270.png" />
  {#<script src="https://kit.fontawesome.com/de40bc85e4.js" crossorigin="anonymous"></script>#}
  {%- block addHeader -%}{%- endblock -%}
</head>
<body class="u-text-font  u-family-sans">

  <div class="l-container" id="container">

  <input class="u-hidden" id="nav-state" type="checkbox" autocomplete="off">

  <header class="l-header  u-family-hx" id="header">
    <div class="l-header__inner  c-container-container">
      <a class="l-header__site-name" href="{{fvGet.root}}">
        {%- set FV_H_TAG = 'h1' if fvGet.page === 'home' else 'span' -%}
        <{{FV_H_TAG}} class="l-header__site-name__main  u-text-primary  js-parser" data-name="みなみあそ観光地域づくり">みなみあそ観光地域づくり</{{FV_H_TAG}}>
        <span class="l-header__site-name__sub  u-text-secondary">Minami Aso</span>
      </a>
      <nav class="l-header__nav">
        <div class="l-header__nav__primary">
          <ul class="c-flex-less">
            <li class="l-header__nav__primary__col"><a class="l-header__nav__primary__item" href="{{fvGet.root}}" title="トップページへ"><svg class="c-icon-home"><use xlink:href="#icon-home"></use></svg></a></li>
            <li class="l-header__nav__primary__col  l-header__nav__primary__popup-container">
              <a class="l-header__nav__primary__item" href="{{fvGet.root}}event/">観光・イベント</a>
              <ul class="l-header__nav__primary__popup  u-text-white">
                <li class="l-header__nav__primary__popup__col"><a class="l-header__nav__primary__popup__item" href="{{fvGet.root}}season/">今月のみなみあそ</a></li>
                <li class="l-header__nav__primary__popup__col"><a class="l-header__nav__primary__popup__item" href="{{fvGet.root}}event/">イベントカレンダー</a></li>
                <li class="l-header__nav__primary__popup__col"><a class="l-header__nav__primary__popup__item" href="{{fvGet.root}}spot/">スポット情報</a></li>
                <li class="l-header__nav__primary__popup__col"><a class="l-header__nav__primary__popup__item" href="{{fvGet.root}}blog/">みなみあそブログ</a></li>
              </ul>
            </li>
            <li class="l-header__nav__primary__col"><a class="l-header__nav__primary__item" href="{{fvGet.root}}treasure/">文化</a></li>
            <li class="l-header__nav__primary__col"><a class="l-header__nav__primary__item" href="{{fvGet.root}}products/">南阿蘇認定商品</a></li>
            <li class="l-header__nav__primary__col"><a class="l-header__nav__primary__item" href="{{fvGet.root}}furusato-tax/">ふるさと納税</a></li>
            <li class="l-header__nav__primary__col"><a class="l-header__nav__primary__item" href="{{fvGet.root}}company/">企業の方へ</a></li>
          </ul>
        </div>

        <div class="l-header__nav__secondary">
          <ul class="c-flex-10">
            <li><a class="p-btn  p-btn--small  p-btn--secondary  u-text-white" href="{{fvGet.root}}contact/">お問い合わせ</a></li>
            <li><a class="p-btn  p-btn--small  p-btn--primary  u-text-white" href="{{fvGet.root}}for-english/">foreign national</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="l-main-barba-wrapper" data-barba="wrapper">
    <div class="l-main-barba-container" data-barba="container" data-barba-namespace="{{ fvGet.page }}">

      {%- if fvGet.page != 'home' -%}
      <div id="hero" class="l-hero  c-object-fit" data-view-over="header">
        <div class="l-hero__inner">
          {%- if fvGet.heroParent -%}<div class="l-hero__parent">{{ fvGet.heroParent  | safe}}</div>{%- endif -%}
          {%- set FV_HERO_TAG = 'p' if fvGet.single else 'h1' -%}
          {%- if fvGet.heroMain -%}<{{ FV_HERO_TAG }} class="l-hero__label"><span>{{ fvGet.heroMain | safe }}</span></{{ FV_HERO_TAG }}>{%- endif -%}
          {%- if fvGet.heroSub -%}<div class="l-hero__sub">{{ fvGet.heroSub }}</div>{%- endif -%}
          {%- if fvGet.heroBg -%}<img src="{{fvGet.images}}{{ fvGet.heroBg }}.jpg" data-srcset="{{fvGet.images}}{{ fvGet.heroBg }}@2x.jpg 2x" width="1400" height="300" alt="" class="c-object-fit__cover  js-objectfit  l-hero__bg">{%- endif -%}
        </div>
      </div>

      {#<div id="breadcrumbs" class="l-breadcrumbs-outline">
        <div class="l-breadcrumbs">
          <ol class="l-breadcrumbs__inner">
            <li class="l-breadcrumbs__item"><a class="l-breadcrumbs__link" href="{{fvGet.root}}">Top page</a></li>
            <li class="l-breadcrumbs__item"><span class="l-breadcrumbs__link">Sample</span></li>
          </ol>
        </div>
      </div>#}

      {%- block contentsOverTop -%}{%- endblock -%}
      {%- endif -%}

      {%- set _subLayoutClass = '  l-body--sub' if fvGet.subLayout else '' -%}
      {%- set _subLayoutLargeClass = '  l-body--sub-large' if fvGet.subLayoutLarge else '' -%}
      <div class="{ _subLayoutClass + _subLayoutLargeClass }">
        {% if fvGet.subLayout === false -%}
        <main class="l-main  c-cf" id="main">
        {%- endif -%}
        {%- block contents -%}{%- endblock -%}
        {% if fvGet.subLayout === false -%}
        </main>
        {%- endif -%}
      </div>
    </div><!-- /data-barba="wrapper" -->
  </div><!-- /data-barba="container" -->

  {%- block contentsOverBottom -%}{%- endblock -%}

  <footer class="l-footer  u-mt-large">
    <div class="l-footer__page-top  c-container-max">
      <a class="l-footer__page-top__link" href="#top"></a>
    </div>

    <div class="l-footer__row-banner">
      <div class="p-slider-container  p-slider-container--banner  c-cf" data-slider-standard-container="banner">
        <ul class="c-flex" data-slider-standard="banner">
          <li class="u-w-3">
            <a class="p-link-image" href="https://www.yahoo.co.jp/" target="_blank" rel="noopener noreferrer">
              <img src="{{fvGet.images}}uploads/2020/03/banner-280x80.jpg" srcset="{{fvGet.images}}uploads/2020/03/banner.jpg 2x" alt="とあるバナー">
            </a>
          </li>
        </ul>
        <button class="p-slider-btn  p-slider-btn--solid  p-slider-btn--prev" data-slider-standard-prev="banner"><svg class="c-icon-chevron-left"><use xlink:href="#icon-chevron-left"></use></svg></button>
        <button class="p-slider-btn  p-slider-btn--solid  p-slider-btn--next" data-slider-standard-next="banner"><svg class="c-icon-chevron-right"><use xlink:href="#icon-chevron-right"></use></svg></button>
      </div>
    </div>

    <div class="l-footer__row-common  u-text-white">
      <div class="l-footer__row-common__1  c-container-container">
        <div class="l-footer__row-common__left">
          <div class="l-footer__pages  u-family-hx">
            <div class="l-footer__pages__col">
              <dl class="l-footer__pages__group">
                <dt class="l-footer__pages__group__header"><a href="{{fvGet.root}}event/">観光・イベント</a></dt>
                <dt class="l-footer__pages__group__content">
                  <ul class="l-footer__pages__list">
                    <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}season/">今月のみなみあそ</a></li>
                    <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}event/">イベントカレンダー</a></li>
                    <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}spot/">スポット情報</a></li>
                    <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}blog/">みなみあそブログ</a></li>
                  </ul>
                </dt>
              </dl>
            </div>
            <div class="l-footer__pages__col">
              <dl class="l-footer__pages__group">
                <dt class="l-footer__pages__group__header"><a href="{{fvGet.root}}treasure/">文化</a></dt>
                <dt class="l-footer__pages__group__content">
                  <ul class="l-footer__pages__list">
                    <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}treasure/">みなみあその宝物</a></li>
                  </ul>
                </dt>
              </dl>
              <dl class="l-footer__pages__group">
                <dt class="l-footer__pages__group__header"><a href="{{fvGet.root}}company/">企業の方へ</a></dt>
                <dt class="l-footer__pages__group__content">
                  <ul class="l-footer__pages__list">
                    <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}company/category/%e6%9d%91%e5%86%85%e4%ba%8b%e6%a5%ad%e8%80%85/">村内事業者</a></a></li>
                    <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}company/category/%e6%9d%91%e5%a4%96%e4%ba%8b%e6%a5%ad%e8%80%85/">村外事業者</a></a></li>
                  </ul>
                </dt>
              </dl>
            </div>
            <div class="l-footer__pages__col">
              <ul class="l-footer__pages__list">
                <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}products/">南阿蘇認定商品</a></li>
                <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}furusato-tax/">ふるさと納税</a></li>
                <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}for-english/">外国の方へ（foreign national）</a></li>
                <li class="l-footer__pages__list__col"><a class="l-footer__pages__list__item" href="{{fvGet.root}}contact/">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="l-footer__row-common__right">
          <div class="l-footer-about">
            <p class="l-footer-about__role  u-family-hx">運営</p>
            <p class="l-footer-about__name  u-family-hx">一般社団法人 みなみあそ観光局</p>
            <p class="l-footer-about__address">
              〒869-1412 熊本県阿蘇郡南阿蘇村久石2807<br>
              TEL 0967-67-2222 （ツアープラザ南阿蘇） </p>

            <div class="l-footer-about__link">
              <ul class="c-flex-10">
                <li class="c-col"><a href="{{fvGet.root}}sitemap/"><svg class="c-icon-chevron-circle-right-solid"><use xlink:href="#icon-chevron-circle-right-solid"></use></svg>サイトマップ</a></li>
                <li class="c-col"><a href="{{fvGet.root}}privacy/"><svg class="c-icon-chevron-circle-right-solid"><use xlink:href="#icon-chevron-circle-right-solid"></use></svg>個人情報保護方針</a></li>
              </ul>
            </div>

            <div class="l-footer-about__related">
              <ul class="c-flex-10">
                <li class="u-w-6">
                  <a class="p-link-image" href="http://minamiaso-onsen.jp/" target="_blank" rel="noopener noreferrer">
                    <img src="{{fvGet.images}}uploads/2020/03/minamiaso-onsen.jp_-1-180x60.jpg" srcset="{{fvGet.images}}uploads/2020/03/minamiaso-onsen.jp_-1.jpg 2x" alt="南阿蘇村温泉旅館組合">
                  </a>
                </li>
                <li class="u-w-6">
                  <a class="p-link-image" href="https://www.vill.minamiaso.lg.jp/" target="_blank" rel="noopener noreferrer">
                    <img src="{{fvGet.images}}uploads/2020/03/vill.minamiaso.lg_.jp_-1-180x60.jpg" srcset="{{fvGet.images}}uploads/2020/03/vill.minamiaso.lg_.jp_-1.jpg 2x" alt="南阿蘇村行政サイト">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="l-footer__row-common__2  c-container-container">
        <small class="l-footer-copyright">Copyright &copy; 2020 みなみあそ観光地域づくり All rights reserved.</small>
      </div>
    </div>
  </footer>

</div><!-- /#l-container -->


<script src="{{fvGet.js + NAME_FILE_JS}}?ver={{fvGet.timestamp}}"></script>
{%- block addFooter -%}{%- endblock -%}
</body>
</html>
