{# サイドナビ #}
{%- if fvGet.theme === 'news' -%}
<div class="p-side-wrapper">
  <aside class="p-side">
    <div class="p-side__base">
      <header class="p-side__header">
        <h4 class="p-side__label">
          CATEGORY
        </h4>
      </header>

      <ul class="p-sidelist">
        <li><a href="./">お知らせ</a></li>
        <li><a href="./">日々の取り組み</a></li>
        <li>
          <a href="./">カテゴリー親</a>

          <ul>
            <li><a href="./">カテゴリー子</a></li>
            <li><a href="./">カテゴリー子</a></li>
            <li><a href="./">カテゴリー子</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>

  <aside class="p-side">
    <div class="p-side__base">
      <header class="p-side__header">
        <h4 class="p-side__label">
          ARCHIVE
        </h4>
      </header>

      <ul class="p-sidelist">
        <li><a href="./">2020</a></li>
        <li><a href="./">2019</a></li>
      </ul>
    </div>
  </aside>
</div>
{%- endif -%}
