:root {
  //基準モジュールを作れる
  --color: red;
  --base-fontsize: 1rem;
}

h1 {
  color: var(--color);
  font-family: system-ui;
}
//calcで計算可能
.aaa {
  font-size: calc(var(--base-fontsize) * 2);
  height: calc(100px - 2em);
  margin: calc(100% - 3px);
}
.widget1 {
  //入れ子可能
  width: 100%;
  .naka {
    color: #bbb;
  }
}
//カスタムセレクタを用いると,既存のセレクタを用いて新たなセレクタを作成することができる.
@custom-selector :--header h1, h2;
:--header {
  color: #aaa;
}


@import './_foo.scss'
