/*////////////////////////////

@component/components

////////////////////////////*/
// 【必須】variable, functions, mixins 読み込み
@use '../../foundation/vars/variable' as *;
@use '../../foundation/vars/functions' as *;
@use '../../foundation/vars/mixins' as *;

// overflow
.c-of-hidden {
  overflow: hidden;
}

//改行をフレーズごとにいい感じに
.c-phrase {
  display: inline-block;
}
.c-ib {
  display: inline-block;
}

// 要素幅で中央表示
@mixin _c-center($prefix) {
  .#{$prefix}c-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
  }
};

@include _c-center($prefix: "");

@each $screen in $screen-list-min {
  $prefix: str-slice($screen, 0, 1);
  @include break($screen) {
    @include _c-center("#{$prefix}\\:");
  }
  @include over($screen) {
    @include _c-center("#{to-upper-case($prefix)}\\:");
  }
}



// フェード
.c-action-fade {
  transition: opacity 0.3s;

  @include action {
    opacity: 0.75;
  }
}

// 溝
.c-gutter {
  padding-right: rem($gutter);
  padding-left: rem($gutter);
}

// アイコン
[class*="c-icon"] {
  overflow: visible;
  display: inline;
  fill: currentColor;
  stroke-width: 0;
  stroke: currentColor;
  position: relative;
  font-size: inherit;
  vertical-align: -0.125em;
  text-indent: 0;
  flex: 0 0 auto;
  font-weight: 400;
}

// クリアーフィックス
.c-cf {
  @include cf;
}

// 動画
.c-movie {
  position: relative;
  height: 0;
  overflow: hidden;

  > * {
    border: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  // .c-movie--4x3
  &--4x3 {
    padding-bottom: 3 / 4 * 100%; // 75%
  }

  // .c-movie--16x9
  &--16x9 {
    padding-bottom: 9 / 16 * 100%; // 56.25%
  }
}

// アンダーライン付きリンクにする
 .c-anchor {
  color: color("theme");
  text-decoration: underline;

  [class].c-icon {
    vertical-align: -.15em;
  }

  @include action {
    text-decoration: none;
  }
}

// object-fit
.c-object-fit-box {
  overflow: hidden;
  position: relative;

  // .c-object-fit-box--absolute
  &--absolute {
    position: absolute;
  }

  .c-object-fit-cover,
  .c-object-fit-contain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
.c-object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;'; // デフォルトでポリフィルは入れてないが後から必要な場合用
}
.c-object-fit-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  font-family: 'object-fit: contain;'; // デフォルトでポリフィルは入れてないが後から必要な場合用
}
