@use "../../foundation/vars/variable" as *;
@use "../../foundation/vars/functions" as *;
@use "../../foundation/vars/mixins" as *;

// https://github.com/dmnsgn/sass-easing/blob/master/_easings.scss
@use "./../../../../node_modules/sass-easing/_easings.scss" as *;

/*////////////////////////////

@project/marker
下線

////////////////////////////*/
.p-marker {
  padding-bottom: 0.15em;
  background: linear-gradient(
    to top,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );
  display: inline;

  @include action($decoration: none) {
    &[href] {
      text-decoration: none;
    }
  }
}
