<%# components: フッター グローバルに fvGet が使えます %>
<button id="pagetop" data-logic="pagetop" class="p-pagetop" aria-label="ページ上部に移動"><i class="far fa-angle-double-up"></i></button>

<footer id="footer-main">
  フッター
</footer>
